.submenu-flyout {
  position: absolute;
  left: 100%;
  top: 0;
  background-color: #1e293b;
  color: white;
  z-index: 99999 !important;
  min-width: 180px;
  padding: 5px 0;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  border-radius: 6px;
}



.submenu-container {
  position: relative;
}
